# Conda environment for cvx_options. Create with:
#   conda env create -f environment.yml
# Activate with:
#   conda activate cvx_options
name: cvx_options
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pip
  - pip:
    - -r requirements.txt
